* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.car-types {
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    height: auto;
    margin-top: 0 10vw;
}

.category-container {
    width: 100vw;
    position: relative;
    overflow-x: auto;
    padding: 0 10vw;
}
.categories {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 30px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.categories::-webkit-scrollbar {
    display: none; 
}

.category-item:hover {
    color: #676767;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #dbdbdb; 
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.category-item {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.category-item img {
    display: block;
    width: 100%;
    border-radius: 16px;
}

.category-item span {
    display: block;
}


.category:hover {
    transform: scale(1.05);
    background-color: #444;
}

.category img {
    height: 70px;
    width: auto;
    border-radius: 16px;
}

.category-item {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.category-item:hover {
    color: lightskyblue;
}

.latest-news{
    width: 80vw;
    margin: 0 10vw;
    padding-top: -50px;
}
.latest-news hr {
    width: 20%;
    margin-top: -1px;
    margin-left: 0px;
    height: 10px;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
}
.latest-news h1 {
    text-align: left;
    color: #fff;
    font-size: 50px;
}
.latest-news h2 {
    padding-top: 5px;
    text-align: left;
    color: #fff;
    font-size: 40px;
}

.latest-news .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    margin: 25px auto;
    width: 100%;
}

.latest-news .card {
    width: 29%;
    position: relative;
    background-color:#c4c4c4;
    padding: 7px;
    border-radius: 16px;
}
.latest-news .image-section img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
    border-radius: 16px;
}
.latest-news .name{
    color:#000000;
    font-weight: bold;
    font-size: 25px;
    padding-left: 10px;
}
.latest-news .price{
    padding-top: 10px;
    color:#000000;
    font-size: 18px;
    padding-left: 10px;
}
.latest-news .full-button {
    font-size: medium;
    background-color: #c4c4c4;
    padding: 7px 30px;
    color: #000000;
    height: 50px;
    width: auto;
    text-align: right;
    display: block;
    margin-left: 64.8vw;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.latest-news .full-button:hover{
    background-color: lightskyblue;
    border-radius: 12px;
}
.latest-news p {
    color: lightskyblue;
    font-size: 30px;
    padding-top: 5px;
}
.latest-news h3 {
    color: #fff;
    font-size: 22px;
    padding-top: 5px;
    transition: filter 0.3s ease;
}
.latest-news .card:hover img {
    filter: grayscale(50%);
    border-radius: 16px;
}
.latest-news .card:hover h3 {
    text-decoration: none;
    color: lightskyblue;
}
.latest-news .card hr {
    height: 2px;
    margin-top: 7px;
    color: rgb(128, 206, 255);
    width: 40px;
}

.mid-hr hr{
    width: 100%;
    color: #065586
}
hr {
    width: 80%;
    margin-left: 2vh 10vw 2vh 10vw;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    height: 2px;
}