* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}
body {
    background-color: black;
}

.header .logo-container {
    background-color: black;
    padding: 20px 0 20px 10vw;
    height: 16vh;
}

.header .logo-container img {
    height: 80px;
    width: auto;
    margin: 0;
}

/*------Nabar------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    z-index: 1000;
    background-color: #333;
    position: sticky;
    width: 100%;
}

.nav-links {
    flex: none;
    margin-left: 3vw;
    padding-left: 5vw;
}

.nav-links ul {
    list-style: none;
    padding: 0;
}

.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.5s, color 0.5s;
    margin: 5px;
    padding: 5px 10px;
    position: relative;
    border-radius: 12px;
}

.nav-links ul li:hover a {
    background-color: lightskyblue;
    color: #333;
    border-radius: 12px;
}


.header .text-box {
    color: rgb(27, 27, 27);
    text-align: left;
    background-image: url('assets/shifter.avif');
    background-size: cover;
    border-radius: 30px;
}

.header .text-box h4 {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 50px;
}

.header .text-box h1 {
    color: #fff;
    font-size: 65px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 30px;
    text-align: left;
    
}
.header .text-box h5{
    color: #fff;
    margin-bottom: 30px;
    margin-top: -20px;
    font-size: 20px;
}
.videos .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    border-radius: 12px;
}

.videos .hero-btn:hover {
    background: lightskyblue;
    color: black;
    border: none;
}
nav .fa {
    display: none;
}
    .input-box {
        position: relative;
        height: 40px;
        width: 100%;
        margin: 0 15px;
        max-width: 60px;
        background-color: #333;
        border-radius: 6px;
        margin-top: 2px;
        margin-bottom: 2px;
        transition: max-width 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55), border-radius 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .input-box.open {
        max-width: 300px;
        border-radius: 6px;
        color: #333;
    }

    .input-box input {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0 30px;
        outline: none;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        background-color: #333;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .input-box.open input {
        padding: 0 10px 0 55px;
    }

    .input-box .search {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 40px;
        border-radius: 6px;
        background-color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: padding 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .input-box.open .search {
        padding: 6px 0 0 6px;
    }

    .input-box .search .search-icon {
        font-size: 20px;
        color: #fff;
        margin-bottom: 2px;
    }

    .input-box .close-icon {
        position: absolute;
        right: -35px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: lightskyblue;
        cursor: pointer;
    }

    .input-box:hover {
        max-width: 300px;
    }

    .input-box:hover input {
        padding: 0 10px 0 55px;
    }
/*-----First News bar------*/
.breaking {
    width: 80vw;
    margin: 0 10vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.breaking a {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.breaking img {
    width: 60%;
    height: auto;
    transition: filter 0.3s ease;
    flex-shrink: 0;
    border-radius: 16px;
}

.breaking .content {
    flex: 1;
    padding-top: 20px;
}

.breaking h4 {
    color: lightskyblue;
    font-size: 15px;
    margin-bottom: 15px;
    transition: text-decoration 0.3s ease;
}

.breaking h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
    transition: text-decoration 0.3s ease;
}

.breaking p {
    color: #fff;
    margin-bottom: 15px;
}

.breaking:hover img {
    filter: grayscale(50%);
    border-radius: 16px;
}

.breaking:hover h3 {
    color: lightskyblue;
}

hr {
    width: 80vw;
    background-color: lightskyblue;
    /* border: 1px solid lightskyblue; */
    height: 2px;
}
/*----Latest-News----*/
.car-types {
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    height: auto;
    margin-top: 0 10vw;
}

.category-container {
    width: 100vw;
    position: relative;
    overflow-x: auto;
    padding: 0 10vw;
}
.categories {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 40px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.categories::-webkit-scrollbar {
    display: none; 
}

.category-item:hover {
    color: #676767;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #dbdbdb; 
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.category-item {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.category-item img {
    display: block;
    width: 100%;
    border-radius: 16px;
}

.category-item span {
    display: block;
}


.category:hover {
    transform: scale(1.05);
    background-color: #444;
}

.category img {
    height: 70px;
    width: auto;
    border-radius: 16px;
}

.category-item {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.category-item:hover {
    color: lightskyblue;
}
.latest-news{
    width: 80vw;
    margin: 0 10vw;
    padding-top: -50px;
}
.latest-news hr{
    width: 20%;
    margin-top: -1px;
    margin-left: 0px;
    height: 10px;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
}
.latest-news h3{
    text-align: left;
    color: #fff;
    font-size: 50px;
}
.container{
    width: 90;
}
.blog-section{
    width: 100%;
    margin-top: 20px;
}
.blog-section .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}
.blog-section .cards .card{
    width: 100%;
    position: relative;
}
.blog-section .image-section img{
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
    border-radius: 16px;
}
.blog-section a{
    text-decoration: none;
}
.blog-section p{
    color: lightskyblue;
    font-size: 12px;
    padding-top: 5px;
}
.blog-section h3{
    color: #fff;
    font-size: 22px;
    padding-top: 5px;
    transition: filter 0.3s ease;
}
.blog-section h5{
    color: #fff;
    padding-top: 5px;
    font-weight: normal;
}
.blog-section .card:hover img {
    filter: grayscale(50%);
    border-radius: 16px;
}

.blog-section .card:hover h3 {
    text-decoration: none;
    color: lightskyblue;
}
.blog-section .card hr{
    height: 2px;
    margin-top: 7px;
    color: rgb(128, 206, 255);
    width: 40px;
}
.hr hr{
    margin-top: 100px;
}

/*-----Videos------*/
.videos {
    width: 80vw;
    margin: 100px auto 0;
    padding: 0;
}

.videos hr {
    width: 20%;
    margin: -101px 0 0 0;
    height: 10px;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
}

.videos h3 {
    text-align: left;
    color: #fff;
    font-size: 50px;
    margin-left: 0;
}

.videos .head {
    display: flex;
    gap: 40px;
    margin: 20px 0;
    padding-left: 0;
}

.videos .container1 {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
}

.videos .head .image-container {
    flex: 0 0 500px;
}

.videos .head img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
    border-radius: 16px;
}

.videos .head .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.videos .head h4 {
    color: lightskyblue;
    font-size: 15px;
    margin: 0;
    transition: text-decoration 0.3s ease;
}

.videos .head h3 {
    color: #fff;
    font-size: 25px;
    margin: 10px 0;
    padding: 0;
    transition: text-decoration 0.3s ease;
}

.videos .head p {
    color: #fff;
    margin: 10px 0;
}

.videos .head .p p {
    color: #fff;
    margin: 5px 0;
}

.head .hero-btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    width: fit-content;
    margin-top: auto;
    border-radius: 12px;
}

.container1 .blog-section1{
    width: 100%;
    margin-top: 20px;
}
.blog-section1 .cards1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}
.cards1 .card{
    width: 100%;
    position: relative;
}
.blog-section1 .image-section img{
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
    border-radius: 16px;
}
.blog-section1 a{
    text-decoration: none;
}
.blog-section1 p{
    color: lightskyblue;
    font-size: 12px;
    padding-top: 5px;
}
.blog-section1 h3{
    color: #fff;
    font-size: 22px;
    padding-top: 5px;
    transition: filter 0.3s ease;
    margin-left: 0;
}
.blog-section1 h5{
    color: #fff;
    padding-top: 5px;
    font-weight: normal;
}
.blog-section1 .card:hover img {
    filter: grayscale(50%);
    border-radius: 16px;
}

.blog-section1 .card:hover h3 {
    text-decoration: none;
    color: lightskyblue;
}
.blog-section1 .card hr{
    height: 2px;
    margin-top: 7px;
    color: rgb(128, 206, 255);
    width: 40px;
    margin-left: 0;
}
.blog-section1 .more-button {
    width: 150px; 
    display: block; 
    margin: 30px auto;  
    text-align: center;  
    padding: 12px 20px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 12px;
}
.blog-section1 .more-button:hover{
    color: black;
    background-color: lightskyblue;
}
.hr1 hr{
    margin-top: 50px;
}

.blogs{
    width: 90%;
}
.blogs hr{
    width: 10%;
    margin-top: 0px;
    margin-left: 76px;
    height: 10px;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
}
.blogs h3{
    text-align: left;
    color: #fff;
    font-size: 50px;
    margin-left: 76px;  
}
.blogs .head img{
    margin-left: 76px;
    margin-top: 20px;
    width: 880px;
    height: auto;
    transition: filter 0.3s ease;
    border-radius: 16px;
}
.blogs .head h4{
    margin-top: -445px;
    margin-bottom: 500px;
    margin-left: 75px;
    color: lightskyblue;
    padding-left: 900px;
    font-size: 15px;
    transition: text-decoration 0.3s ease;
}
.blogs .head h3{
    margin-top: -490px;
    margin-bottom: 450px;
    color: #fff;
    padding-left: 900px;
    transition: text-decoration 0.3s ease;
    font-size: 25px;
}
.blogs .head a{
    text-decoration: none;
    color: inherit;
}
.blogs .head:hover img {
    filter: grayscale(50%);
    border-radius: 16px;
}

.blogs .head:hover h3 {
    text-decoration: underline;
    color: lightskyblue;
}
.blogs .head p{
    margin-top: -440px;
    padding-left: 900px;
    margin-left: 75px;
    color: #fff
}
.blogs .p p{
    margin-top: 5px;
}